.content {
	float: left;
	width: 978px;
	padding: 20px;
	border: 1px solid #B3B3B3;
	border-top: none;
}

h3 {
	margin: 0;
}

.text-title {
	width: 740px;
	height: 35px;
}

li {
	list-style-type: none;
}